main
{   
    .inicio
    {      
        flex-direction: column;
    }
}
body{
    min-width: 300px;
}
.table-container{
    display: flexbox;
    position: relative;

    margin-top: 50px;
    padding: 10px;
    text-align: center;
    color: seashell;
    min-width: 29px;
    max-width: 630px;
    height: min-content;
    background-color: seagreen;
    overflow-x: auto;
    scroll-snap-type: x mandatory ;
    margin-left: 10%;
    margin-right: 10%;

    @media only screen and (min-width: 850px) {
        margin-left: 15%;
    }
}
td, th {
    padding: 10px;
}
tr{
    background-color: seagreen;
}.theader:hover{
    background-color: springgreen;

}
.editor{
    padding-bottom: 25px;
}
main
{
     min-height:80vh ;
     padding-bottom: 40px;
}
.marcasseccion{
    display: flexbox;
    padding-bottom: 80px;
}
.editor
{
    display: flex;
    margin: 0 auto;

}
button{
    display:inline-block;
    padding:0.7em 1.7em;
    margin:15px 0.3em 0.3em 0;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
    position:relative;
}
button:active
{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
.hide{
    display: none;
}