
    $main-color: rgb(51, 102, 187);
    $secondary-color:rgb(218, 0, 55);
    $title-color: rgb(42, 59, 71);
    $text-color: #697477;
    $light-text-color: #A0A7AC;
    $border-color: #2A3B47;
    $container-color: #e2e4ee78;
    $body-color: #d3d1df;
    $header-color: #212E36;
    $box-shade: #767a7ac7 2px 5px 7px ;





